@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--z);
}

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c7c7c7;
  --very-light-pink: #c4c4c4;
  --pale-grey: #f5f6fa;
  --black-5: rgba(0, 0, 0, 0.05);
  --z: #fafafa;
  --black-two: #121212;
  --white: #e8e8e8;
  --white-two: #fff;
  --medium-blue: #307bbe;
  --cool-blue: #4386bf;
  --azure: #0290ff;
}

button {
  cursor: pointer;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 1.813rem 6.25rem;
  margin: 0 0 2.375rem;
  background-color: var(--white-two);
  border-bottom: solid 1px var(--white);
}

.navbar .navLink {
  display: flex;
  justify-content: flex-start;
  gap: 2.938rem;
  align-items: center;
}

h1 {
  font-size: 1.875rem;
  color: var(--azure);
}

.navbar .navLink span a:-webkit-any-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.navbar .navLink span:nth-child(3) {
  opacity: 50% !important;
}

.navbar .user {
  color: var(--azure);
  font-size: 1.3rem;
}

/* book */
.book {
  width: 100%;
  margin: 2.5rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

.book-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10.625rem;
  margin: 0 6.25rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white);
  background-color: var(--white-two);
}

.book-detail {
  text-transform: capitalize;
  width: 50%;
}

.book-detail .category {
  width: 3.063rem;
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: 'Montserrat', sans-serif;
  color: var(--black-two);
}

.book-detail .title {
  width: 12.313rem;
  height: 1.813rem;
  margin-top: 0.188rem;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.book-detail .author {
  width: 6.688rem;
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-blue);
}

.book-detail .book-btn {
  display: flex;
  gap: 2.125rem;
  margin-top: 1.313rem;
}

.book-detail .book-btn button {
  position: relative;
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--cool-blue);
  background: none;
  border: none;
}

.book-detail .book-btn button::after {
  content: '';
  position: absolute;
  width: 0.1rem;
  height: 1.6rem;
  right: -26%;
  top: -20%;
  background-color: var(--white);
}

.book-detail .book-btn button:nth-child(2)::after {
  right: -35%;
}

.book-detail .book-btn button:last-child::after {
  width: 0;
}

.progress {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 1.313rem;
  position: relative;
}

.progress::after {
  content: '';
  position: absolute;
  width: 0.125rem;
  height: 4.375rem;
  right: 30%;
  background-color: var(--white);
}

.progress .progress-bar {
  width: 55px;
  height: 55px;
  background: conic-gradient(var(--medium-blue) 0% 65%, var(--white) 60% 100%);
  position: relative;
  border-radius: 50%;
}

.progress .progress-bar::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47px;
  height: 47px;
  background-color: #fff;
  border-radius: 50%;
}

.progress .progress-text p {
  width: 4.25rem;
  height: 2.438rem;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
  font-family: 'Montserrat', sans-serif;
}

.progress .progress-text p:last-child {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.875rem;
}

.chapter {
  width: fit-content;
}

.chapter .current-chapter {
  width: 7.875rem;
  height: 1.125rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0.438rem;
  color: var(--black-two);
}

.chapter .chapter-title {
  width: 4.688rem;
  height: 1.313rem;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 1.438rem;
  color: var(--black-two);
}

.chapter .update-btn {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  font-size: 0.813rem;
  font-weight: 300;
  border-radius: 3px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-two);
  background-color: var(--azure);
  border: none;
}


